{% import "macros.html" as macros %}

<div class="dialog-body">
    <form hx-post="{{ request.path }}">
        <div class="mb-3">
            <h2 class="text-lg mb-1">Download settings for $series name</h2>
        </div>
        <div class="form-group form-group--grid">
            <label for="max-download-rate" class="">Resolution</label>
            <div class="">
                <input class="text-right" type="text" class="" id="max-download-rate" name="" size="6" value="" />&ensp;<span class="text-sm text-muted">xxx</span>
            </div>  
            <label for="max-upload-rate" class="">File size</label>
            <div class="">
                <input class="text-right" type="text" class="" id="max-upload-rate" name="" size="6" value="" />&ensp;<span class="text-sm text-muted">xxx</span>
            </div>                  
            <label for="port" class="mb-1">Peer listening port</label>
            <div class="">
                <input class="text-right" type="text" class="" id="port" name="" size="6" maxlength="6" value="" />
            </div>
            <input type="hidden" name="series_id" value="{{series_id}}" />
        </div>
        <button class="btn" type="submit">Save changes</button>&emsp;<button data-close type="button" class="btn-text">Cancel</button>        
    </form>
</div>