{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  {% block title %}
    <title>Videobox</title>
  {% endblock %}
  {% include "_meta.html" %}
</head>

{% block body %}
<body>
  <header class="header">
      <div class="header__branding"><a class="btn-icon {{'active' if current_page == 'home' else ''}} text-decoration-none" aria-label="Home" data-balloon-pos="right" href="{{ url_for('main.home') }}">{{macros.icon('#logo')}}</a></div>
      <button class="btn-icon {{'active' if current_page == 'search' else ''}}" aria-label="Search" data-balloon-pos="right" type="button" onclick="Videobox.openSearchDialog(event)">{{macros.icon('#icon-search')}}</button>
      <a class="btn-icon {{'active' if current_page == 'tag' else ''}} text-decoration-none" aria-label="Tags" data-balloon-pos="right" href="{{ url_for('main.tag') }}">{{macros.icon('#icon-tag')}}</a>      
      <a class="btn-icon {{'active' if current_page == 'downloads' else ''}} text-decoration-none" aria-label="Downloads" data-balloon-pos="right" href="{{ url_for('main.downloads') }}">{{macros.icon('#icon-download')}}
        {% if recent_downloads_count is defined and recent_downloads_count %}<span class="header__badge">{{ recent_downloads_count }}</span>{% endif %}
      </a>      
      <button class="btn-icon mt-auto" onclick="Videobox.loadSettings(event)" aria-label="Settings">{{macros.icon('#icon-gear')}}</button>
    </header>
  {% block content %}{% endblock %}
  <dialog id="search-dialog">
    <form class="search-query" action="/search" oninput="Videobox.suggest()" method="GET">
      <label class="sr-only" for="search-query">Search Series</label>
      <input list="search-suggestions" required autocomplete="off" spellcheck="false" id="search-query" type="text" size="20" maxlength="100" name="query" value="{{search_query}}" placeholder="Type a series name, keyword, or torrent info hash" />
      <button type="submit">{{macros.icon('#icon-search')}}</button>
    </form>
    <datalist id="search-suggestions"></datalist>
  </dialog>
  <dialog id="dialog"></dialog>  
  {% include "_icons.html" %}
</body>
{% endblock %}
</html>