{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<main id="main">
    <h1 class="text-xlg font-weight-black mb-5">Downloads</h1>         
    {% if torrent_running %}
      {% if torrents %}
        <section hx-get="/download-progress" 
              hx-target="#downloads-list"
              hx-trigger="every 750ms">        
              <div id="downloads-list">
                {% include "_downloads.html" %}
              </div>
        </section>
      {% else %}
        <p class="d-flex align-items-center">No downloads yet. Start a torrent download in any series page by clicking the{{macros.icon("#icon-download", width=20, height=20, class="mx-1")}}icon</p>
      {% endif %}
    {% else %}
      <div class="d-flex align-items-center">
        {{macros.icon("#icon-warning-bold", width=16, height=16, class="mr-2 text-warning")}}
        <span>Built-in BitTorrent client is not running. Please review <button type="button"  onclick="Videobox.loadSettings(event)" class="btn-text text-decoration-underline">configuration settings.</button></span>
      </div>       
    {% endif %}      
</main>
{% endblock %}