<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>Videobox</title>
    {% endblock %}
    {% include "_meta.html" %}
</head>

{% block body %}

<body class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh; gap: 2rem">    
    <img class="icon anim-spin" width="50" height="50" aria-hidden="true" src="/static/icon-update.svg" alt="">
    <p class="text-lg">
        Videobox is importing the series data. This may take a while&hellip;
    </p>
    <div id="update-dialog">
        {% include "_update-dialog.html" %}
    </div>
    <a class="btn" href="{{ url_for('main.home') }}">No way, take me to the home page</a>
    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            Videobox.sync()
        })
    </script>
</body>

{% endblock %}

</html>