{% extends "base.html" %}
{% import "macros.html" as macros %}

{% macro render_poster(series_id, series_name, poster_url) %}
    <div class="card-series">        
        <a href="{{ url_for( 'main.series_detail', series_id=series_id) }}">
            <img class="card-series__image rounded img-fluid" src="{{ poster_url if poster_url else '/static/default-poster.png' }}" width="500" height="750"
                loading="lazy" alt="Poster for {{series_name}}" />
            <!-- <h3 class="my-1 font-weight-normal text-sm text-center">{{series_name}}</h3> -->
        </a>
    </div>
{% endmacro %}

{% block content %}
    <main id="main">
        <section>
            <h1 class="text-xlg mb-2 font-weight-black">Followed Series</h1>
            <p class="text-muted mb-5">New torrents for series you follow will appear here.</p>
            {% for day, series in days_series %}
                <h2 class="text-lg font-weight-black mb-3">{{day|to_date|human_date}}</h2>
                <div class="d-flex align-items-center mb-5" style="gap: 2rem">
                    {% for (series_id, series_name, series_poster_url), series2 in series|groupby_attrs('id', 'name', 'poster_url') %}
                        {{ render_poster(series_id, series_name, series_poster_url) }}
                        <div>
                            {% for s in series2 %}
                                <div class="mb-4">
                                    {% set episode_hash = 'e' ~ s.episode.id %}
                                    <h3 class="text-sm text-muted text-uppercase mb-2">{{s.episode.season_episode_id}}</h2>
                                    <h4 class="text-lg mb-2">
                                        <a class="" href="{{ url_for('main.series_detail', series_id=s.id, _anchor=episode_hash) }}">
                                            {{ s.episode.name }} 
                                        </a>
                                    </h3>
                                    <!-- <p class="body-copy mb-1">
                                        {{ s.episode.overview }}
                                    </p> -->
                                    <!-- <p class="text-muted text-sm">Aired on {{s.episode.aired_on|human_date}} with {{s.release_count}} torrents</p> -->
                                    <p class="text-muted text-sm">With {{s.release_count}} torrents</p>                                
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}            
                </div>
                <hr class="my-5">
            {% endfor %}
        </section>

    </main>
{% endblock %}