{% extends "base.html" %}

{% macro row_status(value) %}
  {% if value == 'K' %}
    <img src="{{ url_for('static', filename='icon-check-bold.svg') }}" class="mr-2" width="16" height="16" alt="">
  {% elif value == 'S' %}
    <img src="{{ url_for('static', filename='icon-hourglass-bold.svg') }}" class="mr-2" width="16" height="16" alt="">
  {% else %}
    <img src="{{ url_for('static', filename='icon-warning-bold.svg') }}" class="mr-2" width="16" height="16" alt=""> 
  {% endif %} 
{% endmacro %}


{% block content %}
<main id="main">
    <div class="mb-5">
        <h1 class="text-xlg font-weight-black mb-2">Update History</h1>
        <p class="text-muted">Results for the last {{max_log_rows}} library updates.</p>        
    </div>

    {% if log_rows %}
    <table class="report">
        <thead>
            <tr>
                <th class="text-left">Date                    
                </th>
                <th class="text-left">Result
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in log_rows %}
            <tr>
                <td>{{row.timestamp|human_date_time}} UTC</td>
                <td class="d-flex align-items-center">{{row_status(row.status)}}{{row.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</main>
{% endblock %}