{% extends "base.html" %}

{% macro tracker_status_icon(value) %}
    {% if value == 'K' %}
      <img src="{{ url_for('static', filename='icon-check-bold.svg') }}" width="16" height="16" alt="OK">
    {% elif value == 'N' %}        
      <img src="{{ url_for('static', filename='icon-hourglass-bold.svg') }}" width="16" height="16" alt="Waiting">  
    {% else %}
      <img src="{{ url_for('static', filename='icon-warning-bold.svg') }}" width="16" height="16" alt="Error"> 
    {% endif %}
{% endmacro %}

{% macro tracker_status_description(value) %}
    {% if value == 'K' %}   
    {% elif value == 'N' %}
    {% elif value == 'T' %}  
      (timed out)
    {% elif value == 'P' %}  
      (protocol error) 
    {% elif value == 'D' %}  
      (DNS error)       
    {% else %}
      (error)
    {% endif %}
{% endmacro %}

{% macro row_status(value) %}
  {% if value == 'K' %}
    <img src="{{ url_for('static', filename='icon-check-bold.svg') }}" width="16" height="16" alt="OK">
  {% elif value == 'S' %}
    <img src="{{ url_for('static', filename='icon-hourglass-bold.svg') }}" width="16" height="16" alt="Started">
  {% else %}
    <img src="{{ url_for('static', filename='icon-warning-bold.svg') }}" width="16" height="16" alt="Error"> 
  {% endif %} 
{% endmacro %}


{% block content %}
<main id="main">
    <h1 class="text-xlg font-weight-black mb-5">System status</h1>         
    {% if torrent_running %}
      <h2 id="downloads" class="text-lg font-weight-black mb-1">Downloads</h2> 
      <p class="text-muted mb-3">BitTorrent is listening to port {{torrent_port}}</p>
      {% if torrents %}
      <section>
          <table class="downloads w-100">
            <tbody>
                  {% for t in torrents %}
                    <tr id="r{{t.release.info_hash}}" data-status="{{t.status}}">
                      <td>
                          {% set series = t.release.episode.series %}
                          {% set episode = t.release.episode %}
                          {% set episode_hash = 'e' ~ t.release.episode.id %}
                          {% set release_hash = 'r' ~ t.release.info_hash %}
                          <div class="download-progress d-flex align-items-center" style="gap: 1rem">
                            <a href="{{ url_for( 'main.series_detail', series_id=series.id,  view='list', _anchor=episode_hash) }}">
                              <img class="card-episode__image card-episode__image--small img-fluid rounded" loading="lazy" src="{{ episode.thumbnail }}" width="300" height="170" alt="" />
                            </a>                                 
                            <div class="flex-grow-1">
                              <!-- {{t.id}} -->
                              <h3 class="text-regular mb-1"><a href="{{ url_for('main.series_detail', series_id=series.id, view='list', _anchor=release_hash) }}">{{t.release.name}}</a></h3>
                              <div class="download-progress__stats text-sm text-muted">Checking download status&hellip;</div>
                              <progress class="w-100" value="0" max="100"></progress>
                            </div>
                          </div>
                      </td>
                      <td class="text-right">
                        {% set request_url = url_for('main.remove_torrent', info_hash=t.release.info_hash) %}
                        <button type="button" class="btn btn-small" onclick="Videobox.removeTorrent('{{request_url}}', event)">Remove</button>
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
          <script>
            window.addEventListener("DOMContentLoaded", () => {
              Videobox.trackDownloadProgress(Videobox.updateStatusPage)
            })
          </script>
        </section>
      {% else %}
        <p class="text-muted m-0"><em>No active downloads.</em></p>
      {% endif %}
    {% endif %}
        
      <hr class="my-4">      
      {% if log_rows %}          

        <section>
          <h2 id="library" class="text-lg font-weight-black mb-1">Library</h2>       
          <p class="text-muted mb-3">Last {{max_log_rows}} update operations</p>       
          
          <div class="d-flex align-items-start justify-content-between" style="gap: 2rem">
            <table class="report">
                <tbody>
                    {% for row in log_rows %}
                    <tr>
                        <td class="pr-4">{{row.timestamp|human_date_time}} <span class="font-small-caps">UTC</span></td>
                        <td class="d-flex align-items-center" style="gap: .5rem">{{row_status(row.status)}}{{row.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
              {% include '_chart.html' %}      
              <p class="text-muted text-sm">New torrents fetched by server in the last {{max_chart_days}} days</p>
            </div>     
          </div>


        </section>
      {% endif %}

      <!-- <hr class="my-4">    -->

      {% if trackers %}
        <hr class="my-4">        
        <section>
          <h2 id="trackers" class="text-lg font-weight-black mb-1">Trackers</h2>
          <p class="text-muted mb-3">Servers periodically queried for torrent swarm information. {% if max_last_scraped_on %} Last checked on {{max_last_scraped_on|human_date_time}} <span class="font-small-caps">UTC</span>{% endif %}</p>
          <table class="report">
              <tbody>
                  {% for tracker in trackers %}
                  <tr>
                      <td class="d-flex align-items-center" style="gap: .5rem">{{tracker_status_icon(tracker.status)}}{{tracker.url|nice_url}}<small class="text-muted">{{tracker_status_description(tracker.status)}}</small></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </section>          
      {% endif %}
</main>
{% endblock %}