// An "almost pure" CSS carousel.
//
// See:
//  * https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/
//  * https://stackoverflow.com/a/58386348

// Heights of the arrow icon element
$image-carousel-nav-height: 24px !default;
$image-carousel-item-width: 300px !default;

// Hide scrollbar but still allows to scroll horizontally
// See https://stackoverflow.com/a/49278385
@mixin hide-scrollbar-x() {
  // overflow-x: scroll;
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;

  /* WebKit */
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel {
  width: calc(100vw - 3rem - 54px);
  margin: 0 -3rem 0 0;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  // Horizontal scroll only
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;

  @include hide-scrollbar-x();
}

// -------------------
// Slides
// -------------------

.carousel__items {
  display: grid;
  grid-auto-columns: minmax($image-carousel-item-width, 1fr);
  grid-auto-flow: column;
  gap: 2rem;
}

// Individual slide 
.carousel-item {
  line-height: 1;
  max-width: $image-carousel-item-width;
  // &.active {
  //   background-color: lightblue;
  // }  
}

// We want the swiping behavior but not the scroll bar
.carousel__items::-webkit-scrollbar {
  display: none;
}

// -------------------
// Navigation
// -------------------

.carousel__next,
.carousel__prev {
  position: absolute;
  top: calc(50% - #{$image-carousel-nav-height} / 2);
  left: 0;
  z-index: 1;
}

.carousel__next {
  left: unset;
  right: 0;
}